.test{
    display: inline-block;
    width:100px;
    height:100px;
    background:yellow;
    transition:all 1s;
    position: relative;
    top: 0px;
    left: 0px;

}
.test:hover{
    background: red;
    top: 10px;
    left: 10px;
}