
<html>
    <head>
    </head>
    <body>
        <ul id="list"></ul>
 
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script>
        $.get("https://nowukh.github.io/swe3020/todo/groupList/groupList.json", function(result, status){
            var arr = result.data;
            var icon = result.icon
            var list = " ";
            for(var i = 0; i < arr.length; i++){
                var s = arr[i].icon
                console.log(s)
                list += "<li><span style='color:" +arr[i].color + ";'>"+ icon.s  +"+</span>"  + arr[i].name + "</li>";
            }
            $("#list").html(list);
        })
        </script>
    </body>
</html>