<html>
    <head>
        <style>
        #groupList li:hover{
            background-color: rgb(199, 242, 253);
        }
        #navBar{
            width: 30%;
        }
        </style>
    </head>
    <body>
        <nav id="navBar" style="float:left;">
            <ul id="groupList" style="list-style:none; padding-left:0">
                
            </ul>
        </nav>        
        <button id="navBtn">click</button>
        <div id="groupDiv" style="width:70%;float:right;">
        <h1 id="groupName"></h1>
        </div>
        <div style="width:70%;float:right;">
            <ul id="taskList" style="list-style:none;">           
            </ul>
        </div>


        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script>
            var resultData;
            var resultList;
            var groupListUrl = "https://nowukh.github.io/swe3020/todo/groupList/groupList.json";
            var groupAddUrl = "https://nowukh.github.io/swe3020/todo/groupList/groupAdd.json";
            // nav바 리스트 그리기
            function draw (result){
                var arr = result.data;
                            var icon = result.icon
                            var list = " ";
                            for(var i = 0; i < arr.length; i++){
                                var iconCode;                                
                                for(var j = 0; j < icon.length; j++){
                                    if(icon[j][0]==arr[i].icon){
                                        iconCode = icon[j][1];
                                    }
                                }

                                
                                list += "<li "+"id='" + arr[i].id + "'" + ">"+"<span " +"style='color:" + arr[i].color + ";'>"+ iconCode + "</span>"  + arr[i].name 
                                + "<span style='float:right" + ";'>" + arr[i].taskId.length + "</span>" 
                                + "</li>";
                                
                            }
                            list += "<li id='"+"add'"+ "onclick='add()'" + " style=''>"+"<span style='position:absolute;bottom:10px" + ";'>" + "+ 새 목록" + "</span>" + "</li>"
                            $("#groupList").html(list);
                            $("#groupList li").attr("onclick","showTask(this.id);");
                            
            }
            // get메소드 실행, draw함수 호출
            var setResult = function (url, data, isDraw){
                $.get(url, function(result, data, status){             
                            if(!isDraw)draw(result);
                            resultData = result.data;
                            resultList = result;
                        })
            }

            //document.ready
            $(setResult(groupListUrl));

            //목록 추가
            function add (){
                    var name = prompt("name")
                    setResult(groupAddUrl,{"name":name,"color":"blue", "icon":"default"}, true);
                }

            //nav바 토글
            $("#navBtn").click(function(){
                $("#navBar").toggle();
            })
            var taskListUrl = "https://nowukh.github.io/swe3020/todo/group/taskList.json";
            //task 출력
            var showTask = function(groupId){
                $("#taskList").empty();
                var taskIdList;
                for(var i = 0; i < resultData.length; i ++){
                    group = resultData[i];
                    if(group.id == groupId){
                        taskIdList = group.taskId;
                        $("#groupName").text(group.name);;
                        $('#groupDiv').css("background", group.color);
                    }
                }
                $.get(taskListUrl, function(result,status){
                    var taskData = result.data; 
                    for(var j = 0; j < taskIdList.length; j++){
                        for(var k = 0; k < taskData.length; k++){
                            var task = taskData[k]
                            if(task.id == taskIdList[j]){
                                var liTag = "<li id='task"+task.id+"' style='"+"display:inline;'"+">"+task.name+"</li> <br>"
                                var $li = $(liTag);
                                var btnTag = "<input style='"+"display:inline;"+"'type='checkbox'name='task" + task.id + "'>";
                                var $btn = $(btnTag);
                                $("#taskList").append($btn);
                                $("#taskList").append($li);
                                $("input[name='task"+ task.id +"'").attr("onclick","console.log('a');");
                                
                            }
                        }
                    }
                })
            }//showTask 끝

            var checkboxClick = function(){
                $.get(taskListUrl, {"isDone":true}, function(result, status){             

                })
            };
        </script>
    </body>
</html>